body {
    font-family: Arial, Helvetica, serif;
    font-size: 20px;
    background-color: gainsboro;
  }
  
  table {
    border: 3px solid darkorchid;
    width: 60%;
    margin: 0 auto;
    border-spacing: 5px;
  }
  
  thead {
    background-color: plum;
  }
  
  th,
  td {
    border-top: 1px solid darkorchid;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  span {
    background-color: lightyellow;
  }